# =========================
# Archivos compilados de Java
# =========================
*.class

# Archivos de registro (Log files)
*.log

# Archivos empaquetados
# (Comenta estas líneas si necesitas subir un .jar específico a tu repositorio)
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Logs de errores de la Máquina Virtual de Java (JVM)
hs_err_pid*
replay_pid*

# =========================
# Herramientas de Construcción
# =========================

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
# Descomenta la siguiente línea si usas Maven Wrapper y quieres versionarlo
# !.mvn/wrapper/maven-wrapper.jar

# Gradle
.gradle/
build/
# Excepciones para mantener el Gradle Wrapper en el repositorio
!gradle/wrapper/gradle-wrapper.jar
!gradlew
!gradlew.bat

# =========================
# Entornos de Desarrollo (IDEs)
# =========================

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
out/

# Eclipse
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders
.classpath
.project

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Visual Studio Code
.vscode/

# =========================
# Archivos del Sistema Operativo
# =========================

# macOS
.DS_Store

# Windows
Thumbs.db